<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link rel='stylesheet' href='/stylesheets/admin_login.css' />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    </head>
    <body >
        <% include index/nav_bar.ejs %>

        <div class="container">
            <form method="POST" action="/admin/login">
                <div class="jumbotron">
                    <div>
                        <h4><b>Authority Login</b></h4>
                    </div>
                    <div class="form-group">
                            <label for="lin"><b>Username</b></label>
                            <input class="form-control" type="text" name="username" id="username">
                    </div>
                    <div class="form-group">
                            <label for="lin"><b>Password</b></label>
                            <input class="form-control" type="password" name="password" id="password">
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success" type="submit">LogIn</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="/javascripts/admin_login.js"></script>
    </body>
</html>
