<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' />  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/stylesheets/admin_home.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    
  </head>
  <body >
        <% include admin/closed/nav_bar.ejs %>
        <div class="container">

            <% include admin/closed/closed_complaints.ejs %>

        </div>
        
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/admin_process.js"></script>
    
  </body>
</html>
