<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/admin_login.css' />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body >
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="admin_form">
        <form action="" class="w3-container">
            
                          
            <label class="w3-text-blue"><b>Enter your Complaint Id</b></label>
            <input class="w3-input w3-border" type="text">
            
            <br>
            <button class="w3-btn w3-blue">Query</button>

        </form>
    </div>
  </body>
</html>
