<html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TILAK (Total Interface for Labour Atrocities Keeping)</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

    <!-- <link rel="stylesheet" href="css/animate.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  </head>
<body>
  <!-- Header -->
    <header id="header" class="alt">
      <div class="logo"><a href="#"><span> The Phoenix Tech</span></a></div>
      <b>TILAK (Total Interface for Labour Atrocities Keeping)</b>
      <a href="#menu">Menu</a>
    </header>


  <!-- start navbar -->
  <nav id="menu">
      <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="/admin/dashboard">Central Dashboard</a></li>
          <li><a href="#">Contact Us</a></li>
      </ul>
  </nav>
  <!-- End navbar -->
<!-- class="service_nav wow flipInX animated" style="visibility: visible; animation-name: flipInX; -->
  <!-- Banner -->
    <section class="banner full">
      <article>
        <img src="/images/slide01.jpg" alt="" />
        <div class="inner">
          <header>
            <p>Welcome To Labour Complaint Registration</p>
            <div class="ui buttons">
              <button class="ui button"><a href="/admin/login">Authority Login</a></button>
              <div class="or"></div>
              <button class="ui positive button"><a href="/complaints/registration">Register a Complaint</a></button>
            </div>
          </header>
        </div>
      </article>
      <article>
        <img src="/images/slide02.jpg" alt="" />
        <div class="inner">
          <header>
            <p>Welcome To Labour Complaint Registration</p>
            <div class="ui buttons">
              <button class="ui button">Check Complaint Status</button>
              <div class="or"></div>
              <button class="ui positive button">Register a Complaint</button>
            </div>
          </header>
        </div>
      </article>
      <article>
        <img src="/images/slide03.jpg"  alt="" />
        <div class="inner">
          <header>
            <p>Welcome To Labour Complaint Registration</p>
            <div class="ui buttons">
              <button class="ui button">Check Complaint Status</button>
              <div class="or"></div>
              <button class="ui positive button">Register a Complaint</button>
            </div>
          </header>
        </div>
      </article>
      <article>
        <img src="/images/slide04.jpg"  alt="" />
        <div class="inner">
          <header>
            <p>Welcome To Labour Complaint Registration</p>
            <div class="ui buttons">
              <button class="ui button">Check Complaint Status</button>
              <div class="or"></div>
              <button class="ui positive button">Register a Complaint</button>
            </div>
          </header>
        </div>
      </article>
      <article>
        <img src="/images/slide05.jpg"  alt="" />
        <div class="inner">
          <header>
            <p>Welcome To Labour Complaint Registration</p>
            <div class="ui buttons">
              <button class="ui button">Check Complaint Status</button>
              <div class="or"></div>
              <button class="ui positive button">Register a Complaint</button>
            </div>
          </header>
        </div>
      </article>
    </section>

  <!-- Start Service area -->
  <section id="service">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="service_area">
          <div class="service_title">
            <hr>
            <center>
            <h2>MINISTRY OF LABOUR AND EMPLOYEMENT</h2>
          </center>
          </div>
        </div>
      </div>
    </div>
  </section>

  <p>    ...
 </p>

<center>
  <div class="ui animated button" tabindex="0" color="Blue">
    <div class="visible content">Labour Laws</div>
    <div class="hidden content">
      <i class="book icon"></i>
    </div>
  </div>
</center>

<p>    ...
</p>

<!-- <span></span>
<style media="screen">
span{
 margin-left:10px;
}
span:first-child{
 margin-left:0;
}
</style> -->

<section id="two" class="wrapper style3">
  <div class="inner">
    <header class="align-center">
      <p>TPT Helpline Mob No: +91 7609087908, Email: mail.rajdas97@gmail.com</p>
      <h2>THE PHOENIX TECH</h2>
    </header>
  </div>
</section>
<hr>
<section id="service">
  <div class="container">
          <ul class="service_nav wow flipInX animated" style="visibility: visible; animation-name: flipInX;">
            <li>
              <a class="service_icon" href="#"></a>
              <h2>About Ministry Of Labour and Employment</h2>
              <p>The Ministry of Labour & Employment is one of the oldest and important Ministries of the Government of India. The main responsibility of the Ministry is to protect and safeguard the interests of workers in general and those who constitute the poor, deprived and disadvantage sections of the society, in particular, with due regard to creating a healthy work environment for higher production and productivity and to develop and coordinate vocational skill training and employment services. Government's attention is also focused on promotion of welfare and providing social security to the labour force both in organized and unorganized sectors, in tandem with the process of liberalization. These objectives are sought to be achieved through enactment and implementation of various labour laws, which regulate the terms and conditions of service and employment of workers. The State Governments are also competent to enact legislations, as labour is a subject in the concurrent list under the Constitution of India.</p>
              <a class="read_more" href="#">read more<i class="fa fa-long-arrow-right"></i></a>
            </li>
           <li>
              <a class="service_icon" href="#"></a>
              <h2>Vision</h2>
              <p>Decent working conditions and improved quality of life of workers, ensuring India without child labor in hazardous sectors and enhancing employability through employment services and skill development on a sustainable basis
              </p>
              <a class="read_more" href="#">read more<i class="fa fa-long-arrow-right"></i></a>
            </li>
<div>
  <div class="ui two column grid">
  <div class="column">
    <div class="ui raised segment">
      <a class="ui red ribbon label">Notifications</a>
      <span>PUBLIC NOTICE</span>
      <p></p>
      <a class="ui blue ribbon label">FEEDBACK</a>
      <span>..</span><button class="ui toggle button active">LIKE</button>
      <p></p>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <a class="ui orange right ribbon label">Notifications For Central Ministry</a>
      <p>STARS scheme worth Rs 250 crore to fund science projects launched by HRD Ministry on National Science Day.</p>
      <a class="ui teal right ribbon label">MINISTRY</a>
      <p>MINISTRY OF LABOUR AND EMPLOYEMENT</p>
    </div>
  </div>
</div>
</div>
</div>
</section>
  <!-- <!End Service area

  <! start footer -->
  <footer id="footer">
    <div class="container">
      <center>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <button class="ui twitter button">
            <i class="twitter icon"></i>
            Twitter
          </button>
          <button class="ui facebook button">
            <i class="facebook icon"></i>
            Facebook
          </button>
          <button class="ui instagram button">
            <i class="instagram icon"></i>
            Instagram
          </button>
          <button class="ui google plus button">
            <i class="google plus icon"></i>
            Google Plus
          </button>
          <p>    ...
         </p>
          <div class="footer_bottom">
            <div class="copyright">
              <p>&copy; All rights reserved </p>
            </div>
            <div class="developer">
              <p><a target="_blank" rel="nofollow">Designed By SHUBHAM KUMAR SAHU</a></p>
            </div>
          </div>
        </div>
     </center>
    </div>
  </footer>
  <!-- End footer -->




  <!-- Scripts -->
     <script src="/javascripts/jquery.min.js"></script>
     <script src="/javascripts/jquery.scrollex.min.js"></script>
     <script src="/javascripts/skel.min.js"></script>
     <script src="/javascripts/util.js"></script>
     <script src="/javascripts/main.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>
