<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home | Ministry of Labour</title>
	<link rel="icon" href="/images/gyp-ico.jpg">
	<link rel="stylesheet" href="/stylesheets/w3.css">
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<script src="/javascripts/jq.js"></script>
	<script src="/javascripts/custom.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Merienda:700" rel="stylesheet">
	<link href="/stylesheets/owl/assets/owl.theme.default.min.css" rel="stylesheet">
	<link href="/stylesheets/owl/assets/owl.carousel.min.css" rel="stylesheet">
	<script src="/stylesheets/owl/owl.carousel.min.js"></script>
</head>
<body>
	<div id="mainmarguee" class="w3-padding-small w3-opacity-min w3-small w3-grey w3-white">
		भारत सरकार | GOVERNMENT OF INDIA
		<marquee class="w3-right" behavior="slide" direction="" scrollamount="5" style="width:83%;color:white !important">
			Welcome to ministry of labour & employment Authority of India . 
		</marquee>
	</div>
	<div id="bar_main" class="w3-bar">
		<a href="#" class="w3-bar-item  w3-hover-dark-grey w3-darker">
			<i class="fa fa-home w3-xlarge"></i>
		</a>
		<a href="#" class="w3-bar-item  w3-large myfont4">
			भारत सरकार | GOVERNMENT OF INDIA
		</a>
		<a href="#" class="w3-bar-item w3-right w3-hover-dark-grey w3-darker w3-large " >
			Complain Status
		</a>
		<a href="#" class="w3-bar-item w3-right  w3-hover-dark-grey w3-darker w3-large" >
			File a Complain
		</a>
		<a href="#" class="w3-bar-item w3-right  w3-hover-dark-grey w3-darker w3-large" >
			 Home
		</a>
		<!--<a href="#" class="w3-bar-item w3-right  w3-hover-dark-grey w3-darker w3-large" >
			Schemes
		</a>
		<a href="#" class="w3-bar-item w3-right  w3-hover-dark-grey w3-darker w3-large" >
			Tenders
		</a>
		<a href="#" class="w3-bar-item w3-right  w3-hover-dark-grey w3-darker w3-large" >
			Policies
		</a>
		<a href="#" class="w3-bar-item w3-right w3-hover-dark-grey w3-darker w3-large" >
			Ministry
		</a>-->
	</div>
	<!-- Slider (owl-carousel) -->
	<div class="owl-carousel owl-theme">
		<div class="item" style="width:100%;height:650px"  id="img_0" >
			<img src="/images/labour-01.jpg" alt="loading" class="w3-image">
		</div>
		<div class="item w3-animate-top" style="width:100%;height:650px" >
			<img src="/images/labour-00.jpg" alt="loading" class="w3-image">
		</div>
		<div class="item" style="width:100%;height:650px">
			<img src="/images/labour-2.png" alt="loading" class="w3-image">
		</div>
		<div class="item" style="width:100%;height:650px">
			<img src="/images/labour-03.jpg" alt="loading" class="w3-image">
		</div>
		<div class="item" style="width:100%;height:650px">
			<img src="/images/labour-06.jpg" alt="loading" class="w3-image">
		</div>
		<div class="item" style="width:100%;height:650px">
			<img src="/images/labour-04.jpg" alt="loading" class="w3-image">
		</div>
		<div class="item" style="width:100%;height:650px">
			<img src="/images/labour-05.jpg" alt="loading" class="w3-image">
		</div>
	</div>
	<div class="w3-row" style="">
		<div class="w3-col l3 m6 s12"><br></div>
		<div class="w3-col l3 m6 s12 w3-padding">
			<div class="w3-padding w3-card-4" style="background-color:rgb(0,26,51);max-height:750px;overflow:hidden">
				<div class="w3-center w3-padding">
					<img src="/images/chairman.jpg" class="w3-hover-shadow w3-circle w3-border-white w3-topbar w3-rightbar w3-bottombar w3-leftbar" alt="" style="">
					<br>
					<br>
					<b class="w3-center w3-large w3-text-white"><i>Sh.Santosh Kumar Gangwar</i></b>
					<br>
					<span class="w3-text-white w3-opacity-min">
						State Minister <br> (Independent Charge)
					</span>
					<p class="w3-text-white" style="text-align:justify">
						<i class="w3-text-amber">Shri Santosh Gangwar</i>, a law graduate from Rohilkhand University, Bareilly (Uttar Pradesh), was born on 1st Nov 1948.  Shri Gangwar is one of the senior most Parliamentarians in the country, who has represented <i class="w3-text-red">Bareilly Parliamentary constituency</i> in the Lok Sabha for the 7th time. Shri Gangwar, at his credit, was also the chairman of the <i class="w3-text-cyan">PAC</i>  i.e. Public Accounts Committee.
					</p>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 s12 w3-padding">
			<div class="w3-padding w3-white w3-card-2 w3-center" style="max-height:750px;overflow:hidden">
				<img src="/images/logo-main.jpg" class="w3-border-white w3-topbar w3-rightbar w3-bottombar w3-leftbar" alt="" style="height:200px">
				<p>The Ministry of Labour & Employment is one of the oldest and important Ministries of the Government of India</p>
				<div class="w3-small">
					<table class="w3-table w3-striped">
						<tr>
							<td style="width:40%"><b>Officeholder</b></td>
							<td> : </td>
							<td>Santosh Gangwar</td>
						</tr>
						<tr>
							<td style="width:40%"><b>Headquarters</b></td>
							<td> : </td>
							<td>Rafi Marg,New Delhi</td>
						</tr>
						<tr>
							<td style="width:40%"><b>Jurisdiction</b></td>
							<td> : </td>
							<td>India</td>
						</tr>
						<tr>
							<td style="width:40%"><b>Annual Budget</b></td>
							<td> : </td>
							<td>7,700 crores INR (2018-19 est., US$1.1 billion)</td>
						</tr>
						<tr>
							<td style="width:40%"><b>Appointer</b></td>
							<td> : </td>
							<td>President of India</td>
						</tr>
						<tr>
							<td style="width:40%"><b>Inaugral by</b></td>
							<td> : </td>
							<td>Jagjivan Ram</td>
						</tr>
						<tr>
							<td colspan="3" class="w3-center">
							</td>
						</tr>
						<tr>
							<td colspan="3" class="w3-center">
								<img src="/images/digital-india.png" style="width:100px;height:85px" alt="">
								<img src="/images/swach-bharat.png" style="width:150px;height:85px" alt="">
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="w3-col l3 m6 s12"><br></div>
	</div>
	<br>
	<br>
	<div class="w3-row w3-light-grey">
		<div class="w3-col l1 m1 s12">
			<br>
		</div>
		<div class="w3-col l6 m6 s12">
			<div class="w3-container w3-grey w">
				<div class="w3-bar w3-text-white w3-hover-border-white" style="border-bottom:2px solid red;">
					<div class="w3-bar-item w3-xlarge myfont4">News highlights</div>
				</div>
				<ul class="w3-text-white" type="">
					<li class="w3-hover-text-red" style="cursor:pointer">
						Ministry of labour and Employment invites application for Internship Programme 2019 from eligible candidates/ students as per the internship guidelines.
					</li>
					<li class="w3-hover-text-red" style="cursor:pointer">
						STARS scheme worth Rs 250 crore to fund science projects launched by HRD Ministry on National Science Day.
					</li>
					<li class="w3-hover-text-red" style="cursor:pointer">
						HRD ministry launches scheme to provide apprenticeship opportunities to fresh graduates.
					</li>
					<li class="w3-hover-text-red" style="cursor:pointer">
						Finance ministry seeks labour ministry help to fund proposed hike in minimum EPS pension.
					</li>
					<li class="w3-hover-text-red" style="cursor:pointer">
						The enormity of job challenge that India faces
					</li>
					<li class="w3-hover-text-red" style="cursor:pointer">
						HRD Ministry launches <i>SHREYAS</i>: Fresh graduates can now get quick apprenticeship opportunities.
					</li>
					<li class="w3-hover-text-red" style="cursor:pointer">
						Indian Workers Dont Need Any Work Permit, Clarifies Nepal.
					</li>
					<li class="w3-hover-text-red" style="cursor:pointer">
						<i>Skill India:</i> How industry-driven training is improving the employability of our youth
					</li>
				</ul>
			</div>
		</div>
		<div class="w3-col l3 m6 s12">
			<div class="" style="background-color:rgba(0,26,51,0.9);margin:0px 10px;padding:10px 20px;color:white">
				<div class="w3-xlarge w3-wide myfont4">
					Schemes
				</div>
				<div>
					<ul>
						<li class="w3-hover-text-yellow" style="cursor:pointer">National Child Labour Project</li>
						<li class="w3-hover-text-yellow" style="cursor:pointer">PM Shram Yogi Maan-dhan (PM-SYM)</li>
						<li class="w3-hover-text-yellow" style="cursor:pointer">Aam Admi Beema Yojana</li>
						<li class="w3-hover-text-yellow" style="cursor:pointer">Plan Schemes of DGFASLI</li>
						<li class="w3-hover-text-yellow" style="cursor:pointer">Revised Integrated Housing Scheme</li>
						<li class="w3-hover-text-yellow" style="cursor:pointer">PLAN SCHEMES IN  DIRECTORATE GENERAL OF MINES SAFETY (DGMS)</li>
						<li class="w3-hover-text-yellow" style="cursor:pointer">Labour Tribunals, Courts of Adjudication and Conciliation Boards</li>
						<li class="w3-hover-text-yellow" style="cursor:pointer">Strengthening of Adj. Machinery and Holding of Lok Adalats</li>
					</ul>
				</div>

			</div>
		</div>
		<div class="w3-col l1 m1 s12">
			<br>
		</div>
	</div>
	<br>
	<br>
	<br>
	
	<div id="cont-1" class="tabcontent">
	  <div class="w3-row">
	  	<div class="w3-col l3 m12 s12"><br></div>
	  	<div class="w3-col l6 m12 s12">
	  		<div class="w3-row w3-animate-opacity">
	  			<div class="w3-col l3 m3 s12">
	  				<img src="/images/ic.jpg" class="w3-border-white w3-bottombar w3-rightbar w3-leftbar w3-topbar w3-card-4" style="width:200px;height:220px" alt="">
	  			</div>
	  			<div class="w3-col l9 m9 s12">
	  				<h2 style="font-family:Merienda;">Shri Santosh Kumar Gangwar</h2>
	  				<span class="w3-opacity">
	  					<i>Minister of State for L&E (Independent Charge)</i><br>
	  					<i class="w3-small">Email : molegangwar@yahoo.com</i><br>
	  					<i class="w3-small">Phone : 23717515, 23710240</i>
	  				</span>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="w3-col l3 m12 s12"><br></div>
	  </div>
	</div>

	<div id="cont-2" class="tabcontent">
	  <div class="w3-row">
	  	<div class="w3-col l3 m12 s12"><br></div>
	  	<div class="w3-col l6 m12 s12">
	  		<div class="w3-row w3-animate-opacity">
	  			<div class="w3-col l3 m3 s12">
	  				<img src="/images/ps.jpg" class="w3-border-white w3-bottombar w3-rightbar w3-leftbar w3-topbar w3-card-4" style="width:200px;height:220px" alt="">
	  			</div>
	  			<div class="w3-col l9 m9 s12">
	  				<h2 style="font-family:Merienda;">Shri Manu Tentiwal</h2>
	  				<span class="w3-opacity">
	  					<i>Private Secretary</i><br>
	  					<i class="w3-small">Email : prvsecy-labour@yahoo.com</i><br>
	  					<i class="w3-small">Phone : 23717515, 23710240</i>
	  				</span>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="w3-col l3 m12 s12"><br></div>
	  </div>
	</div>

	<div id="cont-3" class="tabcontent ">
	  <div class="w3-row">
	  	<div class="w3-col l3 m12 s12"><br></div>
	  	<div class="w3-col l6 m12 s12">
	  		<div class="w3-row w3-animate-opacity">
	  			<div class="w3-col l3 m3 s12">
	  				<img src="/images/slt.png" class="w3-border-white w3-bottombar w3-rightbar w3-leftbar w3-topbar w3-card-4" style="width:200px;height:220px" alt="">
	  			</div>
	  			<div class="w3-col l9 m9 s12">
	  				<h2 style="font-family:Merienda;">Shri Heeralal Samariya</h2>
	  				<span class="w3-opacity">
	  					<i>Secretary (L&E)</i><br>
	  					<i class="w3-small">Email : secy-labour@nic.in</i><br>
	  					<i class="w3-small">Phone : 23710265</i>
	  				</span>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="w3-col l3 m12 s12"><br></div>
	  </div>
	</div>

	<div id="cont-4" class="tabcontent">
	  <div class="w3-row">
	  	<div class="w3-col l3 m12 s12"><br></div>
	  	<div class="w3-col l6 m12 s12">
	  		<div class="w3-row w3-animate-opacity">
	  			<div class="w3-col l3 m3 s12">
	  				<img src="/images/aps.jpg" class="w3-border-white w3-bottombar w3-rightbar w3-leftbar w3-topbar w3-card-4" style="width:200px;height:220px" alt="">
	  			</div>
	  			<div class="w3-col l9 m9 s12">
	  				<h2 style="font-family:Merienda;">Shri Alok Kumar Mathur</h2>
	  				<span class="w3-opacity">
	  					<i>Additional Private Secretary</i><br>
	  					<i class="w3-small">Email : aps-alokmathur@yahoo.com</i><br>
	  					<i class="w3-small">Phone : 23717515, 23710240</i>
	  				</span>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="w3-col l3 m12 s12"><br></div>
	  </div>
	</div>

	<button class="tablink" onclick="openCity('cont-1', this, 'rgba(0,26,51,.9)')" id="cont-tab-1">Independent Inc</button>
	<button class="tablink" onclick="openCity('cont-2', this, 'rgba(0,26,51,.9)')" id="cont-tab-2">Private Secretary</button>
	<button class="tablink" onclick="openCity('cont-3', this, 'rgba(0,26,51,.9)')" id="cont-tab-3">Secretary (L&E)</button>
	<button class="tablink" onclick="openCity('cont-4', this, 'rgba(0,26,51,.9)')" id="cont-tab-4">Additional Private Secretary</button>


	<br>
	<br>
	<br>
	<div style="background-color:rgba(0,26,51,.9);padding:20px 0px;">

		<div class="w3-row-padding w3-text-white">
			<div class="w3-col l3 m3 s12">
				<p class="myfont4 w3-xlarge">GOVERNMENT LINKS</p>
				<div class="w3-opacity" style="margin-top:-10px;font-size:14px">
					<ul style="list-style-type:square">
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Department of Agriculture </a></li>
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Department of Education </a></li>
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Department of Health </a></li>
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Department of Labor and Employment </a></li>
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Department of Energy </a></li>
						<li><a class="w3-hover-text-cyan" href=""> Department of Trade and Industry </a></li>
					</ul>
				</div>
			</div>
			<div class="w3-col l3 m3 s12">
				<div class="w3-opacity" style="margin-top:70px;font-size:14px">
					<ul style="list-style-type:square">
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Department of Justice </a></li>
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Department of Tourism </a></li>
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Commission on Higher Education </a></li>
						<li><a class="w3-hover-text-cyan" href="http://www.ovp.gov.ph/"> Presidential Management Staff </a></li>
					</ul>
				</div>
			</div>
			<div class="w3-col l6 m6 s12">
				<img src="/images/logo-main.jpg" class="w3-image w3-right" style="width:250px;height:250px;cursor:pointer" alt="">
				<br>
				<br>
				<br>
				<img src="/images/swach-bharat.png" style="width:180px;height:100px;cursor:pointer" alt="">
				<img src="/images/digital-india.png" class="w3-hover-shadow" style="width:160px;height:100px;cursor:pointer" alt="">
			</div>
		</div>
	</div>
	<div class="w3-light-grey" style="padding:30px 0px">
		<div class="w3-bar w3-center w3-light-grey">
			<div class="w3-opacity-min">
				Terms & condition | Policies | 	Disclaimer | Website | Sitemap | FAQ | Visitor
			</div>
		</div>
		<br>
		<div class="w3-bar w3-light-grey w3-center w3-small w3-opacity-min">
			copyright &copy; Ministry of Labour and Employment <br>
			Government of India <br>
		</div>	
	</div>
	
</body>
</html>