<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Home</a>
      
        <ul class="navbar-nav navbar-right">
          <li class="nav-item active">
            <a class="nav-link" href="/">Complaint Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/complaints/registration">Complaint Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/login">Authority Login</a>
          </li>
        </ul>
</nav>