<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/admin/dashboard">Dashboard</a>
  
    <ul class="navbar-nav">
      <li class="nav-item" id="home">
        <a class="nav-link" href="/admin/home">New Complaints</a>
      </li>
      <li class="nav-item active" id="process">
        <a class="nav-link" href="/admin/process">Processing Complaints</a>
      </li>
      <li class="nav-item" id="closed">
        <a class="nav-link" href="/admin/closed">Closed Complaints</a>
      </li>
    </ul>
  
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
    </ul>
  
  </nav>
  
  